.rating-h {
    margin: 126px auto;
    padding: 40px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 800px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}

h1 {
    color: black;
}

.rating {
    display: flex;

}

.rating-img {
    height: 100px;
    padding: 15px;
    cursor: pointer;
}

#rating {
    padding: 10px;
    font-size: 25px;
    color: black;
}